name: Trigger build and deploy

on:
  push:
    branches:
      - develop
    paths:
      - 'src/**'

jobs:
  call-build-deploy:
    uses: "${{ github.repository }}/.github/workflows/build-deploy.yml@main"