name: Trigger build and deploy

on:
  push:
    branches:
      - develop
    paths:
      - 'src/**'

jobs:
  checkout-default-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

  call-build-deploy:
    uses: nicholasmakhija/workflow-sandbox/.github/workflows/build-deploy.yml@main